@import url('reset.css');

@media screen and (max-width: 1190px){
    html{
        font-size: 62.5%;
    }
}

body{
    background-color: #fff;
    font-family: 'Kiwi Maru', serif, "微軟正黑體", arial;
    box-sizing: border-box;
}

@media screen and (max-width: 1190px){
    body{
        font-family: "微軟正黑體", serif, arial;
    }
}

.main_block{
    width: 1190px;
    margin: 120px auto 0;
}

@media screen and (max-width: 1190px) {
    .main_block{
        width: 95%;
        margin: 0 auto;
    }
}

/* --普通黃色按鈕-- */
.button{
    height: 40px;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: 'Kiwi Maru';
    border-radius: 5px;
    background-color: #F4E2A6;
    border: none;
    padding: 1px 6px;
}

.button:hover{
    box-shadow: 0 0 4px #F4E2A6;
    transition: all .1s;
}

.button:active{
    transform: scale(.9);
    transition: all .3s;
}

@media screen and (max-width: 1190px) {
    .button{
        color: black;
    }
}

/* --加減數字按鈕-- */
.num_botton{
    display: flex;
    align-items: center;
    width: 105px;
}

.num_botton input{
    height: 30px;
    width: 30px;
    flex-basis: 30px;
    margin-left: 5px;
    font-family: arial;
}

.num_botton input:nth-of-type(2){
    width: 30px;
    height: 27px;
    text-align: center;
    padding: 0;
}

.num_botton input:nth-of-type(1), .num_botton input:nth-of-type(3){
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #6D6D6D;
    border-radius: 2px;
}

@media screen and (max-width: 1190px) {
    .num_botton input{
    }
    
    .num_botton input:nth-of-type(1), .num_botton input:nth-of-type(3){
        color: black;
        text-align: center;;
    }
}

/* --左右箭頭按鈕-- */
.arrow_button{
    position: absolute;
    width: 20px;
    height: 25px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background-color: #6d6d6d;
    /* line-height在這裡會被fontawesome蓋過去 */
}
/* --字體基本設定-- */
input{
    font-family: 'Kiwi Maru';
    font-size: 13px;
    padding: 3px;
    border: 1px #6D6D6D solid;
    border-radius: 2px;
}

a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
h1{
    font-size: 30px;
    /* display: block; */
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

h2{
    font-size: 28px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
    line-height: 30px;
}
p{
    font-size: 15px;
    line-height: 20px;
}

@media screen and (max-width: 1190px){
    input{
        font-family: '微軟正黑體', Arial;
        font-size: 13px;
        padding: 3px;
        border-radius: 2px;
    }

    h1{
        font-size: 3rem;
        line-height: 50px;
        margin: 30px auto 15px;
    }

    h2{
        font-size: 2.4rem;
    }

    h3{
        font-size: 2.2rem;
    }

    h4{
        font-size: 2.2rem;
    }

    h5{
        font-size: 1.8rem;
    }

    h6{
        font-size: 1.6rem;
    }

    p{
        font-size: 1.4rem;
        line-height: 1.6em;
    }
}

header nav ul li:nth-child(4) ol a{
    color: #000;
    text-shadow: none;
}

/* ---------------------導覽列--------------------- */
/* search框框對齊不上去 */
header{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 1px 1px 3px;
    height: 90px;
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 3;
    top: 0;
    /* position: static; */

    transition: all 1s;
}

header nav{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

header nav > a{
    display: inline-block;
    height: 70px;
    padding: 10px auto;
}

header nav > a img{
    height: 100%;
}

ul.header_nav{
    display: flex;
    padding: 0 10px;
    height: 100%;
    text-align: center;
    margin-right: 10px;

}

.header_nav li{
    padding: 10px 10px;
    line-height: 70px;
    font-size: 24px;
}


/* --子選單-- */
.header_nav > li:nth-of-type(3){
    position: relative;
}

.header_nav li:nth-of-type(3) ol{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;

    position: absolute;
    top: 89px;
    transform: translate(-10px);
    z-index: 1;
}

.header_nav li:nth-of-type(3) ol li{    
    padding: 5px 10px;
    background-color: #fff;
}

.header_nav li:nth-of-type(3) ol li a{
    line-height: 50px;  
    font-size: 22px;
    width: 100%;
    display: block;
}

/* --hover-- */
.header_nav li:nth-child(3):hover ol{
    display: block;    
}

.header_nav li:hover > a{
    color: #6D6D6D;
    text-shadow: 3px 3px 2px #BDE0CE;
}

.header_nav:nth-of-type(3) li ol a:hover{
    color: #6D6D6D;
    text-shadow: 3px 3px 2px #BDE0CE;
}

.header_nav li:nth-child(3) ol:hover li{
    color: #000
}

/* --右側icon-- */
.header_icon{
    display: flex;
    padding: 0 10px;
}

.header_icon li{
    padding: 10px 10px;
    line-height: 70px;
    font-size: 24px;
}

.header_icon input{
    display: none;
    width: 300px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
}

.nav_icon1:hover input{
    display: inline-block;
    /* display: none; */
}

.header_icon a{
    background-image: url('..//img/nav_icon.png');
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.nav_icon1 a{
    background-position: 0 0;
}
.nav_icon2 a{
    background-position: -22px 0;
}
.nav_icon3 a{
    background-position: -43px 0;
}
.nav_icon4 a{
    background-position: -64px 0;
}

/* js 導覽列上滑 */
.-headup{
    transform: translateY(-90px);
}

.-headdown{
    transform: translateY(0);
}

@media screen and (max-width: 1190px) {
    header{
        height: 70px;
        position: relative;
    }

    header nav{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }

    header nav > a{
        height: 60px;
        padding: 5px;
    }

    ul.header_nav{
        background-color: #fff;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-right: 0;
        padding: 0;
        display: none;

        position: absolute;
        top: 70px;
    }

    .header_nav > li{
        padding: 0 0;
        line-height: 6rem;
        font-size: 2.0rem;
        border-bottom: 1px dashed #BDE0CE;
    }

    .header_nav li:nth-of-type(3) ol{
        text-align: center;
        position: static;
        top : 0;
        transform: none;
        display: none;
    }

    .header_nav li:nth-of-type(3) ol li{
        padding: 0;
    }

    .header_nav li:nth-of-type(3) ol li a{
        line-height: 4.5rem;  
        font-size: 2rem;
        display: block;
    }

    .header_nav .nav_icon4 a{
        background-image: url('..//img/nav_icon.png');
        background-size: cover;
        display: inline-block;
        height: 20px;
        width: 20px;
    }

    header .header_icon li{
        padding: 10px 10px;
        line-height: 50px;
        font-size: 24px;
    }

    .nav_icon1:hover input{
        display: inline-block;
        width: 100px;
        height: 40px;
        /* display: none; */
    }

    .header_icon .nav_icon4 a{
        background-position: -87px 0;
        /* background-position: -107px 0; 叉叉的位置 */
    }

    .js_changeicon a{
        background-position: -107px 0;
    }

    .-headup{
        transform: translateY(0);
    }
}

/* ---------------------footer--------------------- */
footer ul{
    display: flex;
    margin-bottom: 0;
}

footer li{
    width: 33%;
    height: 175px;
    background-color: #BDE0CE;
    color:#000;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li:nth-child(2){
    width: 34%;
    background-color: #EEEDED;
    color:#000;
}

footer li a{
    background-image: url('../img/footer_icon.png');
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px;
}

/* footer li:nth-of-type(1) > p{
    margin-top: 55px;
}

footer li:nth-of-type(2) > p{
    margin-top: 35px;
}

footer li:nth-of-type(3) > p{
    margin-top: 50px;
} */

.footer_icon1{
    background-position: 0 0;
}

.footer_icon2{
    background-position: -30px 0;
}

.footer_icon3{
    background-position: -60px 0;
}

footer h5,footer p, footer a{
    display: block;
    text-align: center;
}

footer h5{
    line-height: 35px;
}

footer p{
    margin-top: 5px;
    font-size: 15px;
    line-height: 30px;
}

footer > a{
    margin-bottom: 20px;
    text-decoration: underline;
}

/* -----------------螢幕小於414時------------------- */
@media screen and (max-width: 1190px){


    footer ul{
        flex-wrap: wrap;
    }

    footer li{
        width: 100%;
        height: 80px;
    }

    footer li:nth-child(2){
        width: 100%;
        background-color: #BDE0CE;
    }

    footer li h6{
        line-height: 2.5rem;
    }

    footer h6{
        font-size: 1.4rem;
    }

    footer li a{
        margin: 5px 10px;
    }

    footer p{
        line-height: 20px;
        margin-bottom: 5px;
    }

    footer > a{
        font-size: 1rem;
        margin-bottom: 5px;
    }
}
