@import url('basic_settings.css');

/* identify */
header nav ul li:nth-child(3) a{
    color: #6D6D6D;
    /* text-shadow: 3px 3px 2px #BDE0CE; */
}

/* ---------------------認識花材頁--------------------- */
/* --第五次-- */

/* 上方提醒 */
.identify_main > img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 60px auto 10px;
}

.identify_main > h6{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
}

.identify{
    width: 100%;
    /* height: 600px; */
    border-radius: 2px;
    border: 1px solid #BDE0CE;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.identify > h2{
    width: 100%;
    text-align: center;
    line-height: 80px;
    background-color: #DDF2E7;
}

.identify_img, .identify_word{
    margin-top: 40px;
    margin-bottom: 40px;
}

.identify_img{
    width: 40%;
    flex-grow: 1;
}

.identify h4{
    text-align: center;
}

.identify_img img{
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    border-radius: 2px;
}

.identify_word{
    width: 45%;
    margin-right: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.identify_word h6{
    margin-top: 12px;
}

.identify_advise{
    width: 85%;
}

.identify_advise_img{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.identify_advise_img a{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 2px;
    background-size: contain;
    margin: 15px 5px 0;  
}

.identify_advise_img a:nth-of-type(1){
    background-image: url('../img/product_li_5.jpg');
}

.identify_advise_img a:nth-of-type(2){
    background-image: url('../img/product_li_6.jpg');
}

.identify_advise_img a:nth-of-type(3){
    background-image: url('../img/product_li_7.jpg');
}

@media screen and (max-width: 1190px){
    .identify_main > img{
        margin-top: 20px;
    }

    .identify_main > h6{
        margin-bottom: 30px;
    }

    .identify{
        flex-direction: column;
        border-left: none;
        border-right: none;
    }

    .identify > h2{
        line-height: 50px
    }

    .identify_img, .identify_word, .identify_advise{
        margin-top: 20px;
    }

    .identify_img{
        width: 100%;
        margin-bottom: 30px;
    }

    .identify_word{
        width: 90%;
        margin: 0 auto;
    }

    .identify_word div:nth-of-type(2) h4{
        margin-top: 20px;
    }

    .identify_advise{
        width: 100%;
    }

    .identify_advise_img a{
        margin: 15px 0 0;
        width: 100px;
        height: 100px;
    }
}

