@import url('basic_settings.css');

/* ---------------------內容--------------------- */
/* -----------banner--------- */
.main_banner{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    position:relative;
}

.main_banner img{
    width: 100%;
}

.main_banner h1{
    position: absolute;
    display: block;
    width: 100%;
    top: 12%;
    text-align: center;
    font-size: 48px;
    letter-spacing: 5px;
}

@media screen and (max-width: 1190px){
    .main_banner{
        display: none;
    }
}

/* -----------品牌理念----------- */
.index_concept{
    display: flex;
    flex-wrap:wrap;
}

/* --左邊圖塊-- */
.index_concept_imgs{
    width: 60%;
    height: 600px;
    position: relative;
}

.index_concept_imgs img{
    position: absolute;

    
}

/* .index_concept_imgs img:nth-child(2){
    animation-name: index_concept_1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} */

.index_concept_imgs img:nth-child(3){
    top: 150px;
    left: 300px;
}

.index_concept_imgs div{
    width: 465px;
    height: 340px;
    background-color: #DDF2E7;
    position: absolute;
    top: 80px;
    left: 80px;
}

/* --圖動動畫-- */
/* @keyframes index_concept_1{
    0%{
        transform: none;
    }
    40%{
        transform: translate(10px, 10px);
    }
    50%{}
    100%{
        transform: none;
    }
} */

/* --右方文字-- */
.index_concept h5{
    display: block;
    width: 40%;
    line-height: 34px;
}

@media screen and (max-width: 1190px) {
    .index_concept_imgs{
        position:static;
        width: 100%;
        height: auto;
    }

    .index_concept_imgs img:first-of-type{
        width: 100%;
        position:static;
    }

    .index_concept_imgs img:last-of-type{
        display: none;
    }

    .index_concept_imgs div{
        display: none;
    }

    .index_concept h5{
        width: 100%;
        line-height: 26px;
    }
}

/* -----------提供服務----------- */
.index_serve{
    position: relative;
    width: 1190px;
    margin: 60px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.index_serve_h1{
    margin-top: 120px;
}

.index_serve a:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.index_serve a:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.index_serve a:nth-child(3){
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.index_serve a:nth-child(4){
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.index_serve img, .index_serve div{
    height: 100%;
    width: 100%;
}

.index_serve div{
    transform: rotate(180deg);
}

.index_serve h5{
    position: absolute;
    padding: 20px;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 5px;
    margin: 15px;
}

/* --動畫&hover-- */
.index_serve a{
    transition: all 1s;
}

.index_serve a:nth-child(n) img{
    transition: all .5s;
}

.index_serve a:nth-child(n):hover{
    transform: scale(1.1);
    z-index: 1;
    border-radius: 5px;
}

.index_serve a:nth-child(n) img:hover{
    border-radius: 3px;
}

@media screen and (max-width: 1190px){
    .index_serve_h1{
        margin: 30px auto 15px;
    }

    .index_serve{
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }

    .index_serve a{
        display: block;
        width: 100%;
    }
    
    .index_serve img{
        height: 150px;
        /* height: 50vw; */
        object-fit:cover;
    }

    .index_serve > div{
        display: none;
    }

    .index_serve h5{
        padding: 10px;
        border-radius: 3px;
        margin: 15% 35% auto 35%;
    }
}
/* -----------作品集----------- */
/* --外層高度控制slide down&up-- */
.index_works_out{
    height: 365px;
    overflow: hidden;
    margin-bottom: 5px;
    /* scroll-behavior: smooth; */
}

/* --尚未展開-- */
.index_works li:nth-of-type(odd){
    width: 1190px;
    height: 365px;
    background-position: 0 -150px;
    color: #fff;
    position: relative;
}

.index_works li:nth-of-type(odd) span{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0, .3);
}

.index_works li:nth-of-type(odd) h4{
    display: block;
    margin: 80px 0 0 80px;
    position: absolute;
}

.index_works li:nth-of-type(odd) p{
    display: block;
    margin: 120px 0 0 80px;
    position: absolute;
}

.index_works li:nth-of-type(odd) a{
    width: 100%;
    height: 65px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 70px;
    color: #6D6D6D;
    font-size: 20px;
    
    position: absolute;
    bottom: 0;

    animation-name: index_works_a;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* --a動畫-- */
@keyframes index_works_a{
    0%{
        line-height: 70px;
    }
    30%{
        line-height: 90px;
        text-shadow: 0 0 4px #6D6D6D;
    }
    100%{
        line-height: 70px;
    }
}

/* --尚未展開換照片區-- */
.index_works1{
    background-image: url(../img/index_works1.jpg);
}
.index_works2{
    background-image: url(../img/index_works2.jpg);
}
.index_works3{
    background-image: url(../img/index_works1.jpg);
}

@media screen and (max-width: 1190px) {
    .index_works_out{
        height: 580px;
    }

    .index_works li:nth-of-type(odd){
        display: none;
    }
}

/* --展開的樣子-- */
.index_works1_open{
    display: flex;
    width: 100%;
    height: 445px;
    background-color: #DDF2E7;
}

.index_works1_open_img{
    width: 67%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index_works1_open_img img{
    width: 73%;
}

.index_works1_open_img > a{
    width: 13%;
    line-height: 394px;
    text-align: center;
}

.index_works1_open_img > div{
    width: 100%;
    text-align: center;
}

.index_works1_open_img > div a{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin: 0 2px 0;
    transform: translateX(-50%);
}

.index_works1_open span{
    background-color: #fff;
    border: 1px solid #D9D9D9;
    width: 33%;
    padding: 50px 70px 50px 45px;
    overflow: auto;

    position: relative;
}

.index_works1_open span h4{
    margin-bottom: 25px;
}

.index_works1_open span > a{
    display: block;
    background-color: #6D6D6D;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 9px;
    border-radius: 2px;
    
    position: absolute;
    right: 10px;
    top: 10px;
}

.index_works1_open ~ .index_works1_open{
    background-color: #d6f5ff;
    background-color: #f5eed5;
}

/* 以下卷軸 */
.index_works1_open span::-webkit-scrollbar {
    width: .5em;
}
.index_works1_open span::-webkit-scrollbar-thumb{
    background: #D9D9D9;
    border-radius: 10px;
    margin-right: 40px;
}
/* 以上卷軸 */

/* JS */
#js_slide{
    position: relative;
    height: 400px;
}

#js_slide img{
    opacity: 0;
    /* visibility: hidden; */
    transition: 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    width: 73%;
    margin: auto;
    height: 90%;
    object-fit: cover;
}

/* #js_slide img:first-of-type{
    position: static;
} */

#js_slide .js_show{
    opacity: 1;
    background-color: #6D6D6D;
    /* visibility: visible; */
}

@media screen and (max-width: 1190px){
    .index_works1_open{
        flex-wrap: wrap;
    }

    .index_works1_open_img{
        width: 100%;
    }

    .index_works1_open_img > div{
        display: none;
    }

    .index_works1_open_img > a{
        /* line-height: 260px;
        width: 5%;
        font-size: 20px; */
        display: none;
    }

    .index_works1_open_img img{
        width: 85%;
    }

    .index_works1_open span{
        width: 100%;
        padding: 20px 20px 30px;
        height: 285px;
    }

    .index_works1_open span > a{
        display: none;
    }

    #js_slide{
        height: 260px;
    }

    #js_slide img{
        width: 90%;
        height: auto;
    }
}

/* -----------花藝師團隊----------- */
.index_team{
    background-color: #DDF2E7;
    margin-top: 60px;
    padding-top: 60px;
}

.index_team ul{
    width: 840px;
    margin: 0 auto 120px;
    display: flex;
}

.index_team li{
    text-align: center;
    width: 250px;
    height: 160px;
    margin: 60px 15px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 35px;
    font-size: 24px;

    position: relative;
}

.index_team div{
    background-image: url('../img/index_team.png');
    height: 90px;
    width: 90px;

    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -135%)
}

.index_team li p:first-of-type{
    margin-top: 30px;
}

.index_team li:nth-child(2) div{
    background-position: -90px 0;
}

.index_team li:nth-child(3) div{
    background-position: -180px 0;
}

/* -----------------螢幕小於414時------------------- */
@media screen and (max-width: 1190px){
    .index_team{
        width: 100vw;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .index_team ul{
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .index_team li{
        width: 80%;
        height: 110px;
        margin: 20px auto;
        padding-top: 25px;
        text-align: left;
        text-indent: 17rem;
    }

    .index_team div{
        left: 15%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .index_team li p:first-of-type{
        margin-top: 10px;
    }
}

