@import url('basic_settings.css');

/* order */
header nav ul > li:nth-child(5) a{
    color: #6D6D6D;
}

/* ---------------------訂做商品頁--------------------- */
/* --上方-- */
.order_main h1{
    text-align: left;
    text-indent: 40px;
    /* margin-left: 40px; */
    /* 加margin會有橫向捲軸 */
    margin-bottom: 30px;
}

@media screen and (max-width: 1190px) {
    .order_main h1{
        text-indent: 0;
    }

    .order_main h4{
        margin-left: 0;
    }
}

.order_banner{
    /* width: 100%; */
    height: 440px;
    /* margin-bottom: 60px; */

    position: relative;
}

.order_banner img{
    float: right;
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto 100px auto 60px;
    transform: rotate(-20deg);
}

.order_banner h1{
    font-size: 50px;
    position: absolute;
    width: auto;
    letter-spacing: 2px;
    user-select: none;
}

.order_banner h1:nth-of-type(1){
    left: 35%;
    top: 25%;
}

.order_banner h1:nth-of-type(2){
    left: 12%;
    top: 50%;
}

@media screen and (max-width: 1190px) {
    .order_banner{
        height: 250px;
        overflow: hidden;
    }

    .order_banner h1{
        z-index: 1;
        position: absolute;
        font-size: 3em;
        letter-spacing: normal;
        font-family: 'Kiwi Maru';
        font-weight: normal;
    }

    .order_banner h1:nth-of-type(1){
        left: 20%;
        top: 10%;
        line-height: 0;
    }

    .order_banner h1:nth-of-type(2){
        left: 10%;
        top: 20%;
        line-height: 1.5em;
        width: 150px;
    }

    .order_banner img{
        position: absolute;
        right: 0;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        margin: 30px 0 auto 60px;
        transform: rotate(20deg);
    }
}

/* --選擇商品種類-- */
.order_choose{
    width: 100%;
    margin-bottom: 60px;
}

.order_choose h4{
    line-height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.order_choose > h6{
    display: inline-block;
    border-radius: 5px;
    /* background-color: #D9D9D9; */
    border: #BDE0CE 1.5px solid;
    background-color: #fff;
    padding: 0 10px;
    line-height: 35px;
    margin: 0 10px 0 0;
    user-select: none;
    cursor: pointer;

    transition: all .3s;
}

.order_choose .js_choosed{
    background-color: #BDE0CE;
}

.order_choose h6:hover{
    background-color: #DDF2E7;
}

.order_choose > h6:first-of-type{
    margin-left: 40px;
}

@media screen and (max-width: 1190px) {
    .order_choose h4{
        margin-left: 0;
    }    
    
    .order_choose > h6:first-of-type{
        margin-left: 0;
    }
}

/* --選擇花材-- */
.order_choose_pic{
    margin: 0 40px 0 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    user-select: none;
    cursor: pointer;
}

.order_choose > p{
    margin-bottom: 10px;
    margin-left: 40px;
}

.order_choose_pic > div{
    position: relative;
    transition: all .5s;
}

.order_choose_pic img{
    width: 185px;
    display: block;
}

.choose_count{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #DDF2E7;
    text-align: center;
    font-size: 18px;
    /* z-index: 1; */

    position: absolute;
    top: 5px;
    right: 5px;
}

.order_choose_pic span{
    /* display: none; */
    opacity: 0;
    width: 185px;
    height: 185px;
    background-color: rgb(0, 0, 0, .2);
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 185px;
    font-weight: lighter;
    
    position: absolute;
    top: 0;

    transition: all .5s;
}

.order_choose_pic p{
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: rgba(3, 3, 3, 0.5);
    padding: 0 5px;
    /* z-index: 1; */

    position: absolute;
    left: 0;
    top: 0;
}

/* hover特效 */
.order_choose_pic div:nth-of-type(n):hover span{
    /* display: block; */
    border-radius: 5px;
    opacity: 1;
}

.order_choose_pic div:nth-of-type(n):hover img{
    border-radius: 5px;
}

.order_choose_pic div:nth-of-type(n):hover p{
    border-radius: 5px 0 0 0;
}

.order_choose_pic div:nth-of-type(n):hover{
    transform: scale(1.1);
    border-radius: 5px;
    z-index: 1;
}

@media screen and (max-width: 1190px) {
    .order_choose_pic{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .order_choose > p{
        margin-left: 0;
    }

    .order_choose_pic img{
        width: 100%;
        height: auto;
    }

    .order_choose_pic > div{
        width: 100%;
    }

    .order_choose_pic span{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 135px;
        opacity: 1;
        background-color: rgb(255, 255, 255, 0);
        font-weight: 100;
    }
}

/* --無法選取的花材-- */
.order_choose_pic .choose_disable span{
    opacity: 1;
    font-size: 20px;
    color: #D9D9D9;
    font-weight: normal;
}

.order_choose_pic div.choose_disable:hover{
    transform: scale(1);
}

@media screen and (max-width: 1190px) {
    .order_choose_pic .choose_disable span{
        background-color: rgb(0, 0, 0, .2);
    }
}

/* --選擇結果顯視-- */
.order_choose_result{
    margin-left: 40px;
    width: 1110px;
    height: 150px;
    border: #D9D9D9 2px solid;
}

.order_choose_result div{
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 4px;
    border: #BDE0CE solid 1.5px;
    background-color: #DDF2E7;
    border-radius: 5px;
    margin: 20px 0 0 15px;
    display: inline-block;
    user-select: none;
}

.order_choose_result div p{
    display: inline-block;
    margin-right: 2px;
}

.order_choose_result div a{
    display: inline-block;
    line-height: 30px;
    width: 25px;
    font-size: 20px;
}

@media screen and (max-width: 1190px) {
    .order_choose_result{
        width: 100%;
        height: 200px;
        margin-left: 0;
    }

    .order_choose_result div{
        padding: 2px;
        margin: 10px 5px 0;
    }

    .order_choose_result div p{
        font-size: 14px;
        font-weight: bold;
    }
}

/* --訂做數量-- */
.order_choose_num{
    margin: 10px auto 20px 40px;
}

@media screen and (max-width: 1190px) {
    .order_choose_num{
        margin-left: 0;
    }
}

/* --送出的按鈕-- */
/* .order_choose_result button{
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #F4E2A6;
    border: none;
    margin: 60px 10px 0 0;
    align-self: flex-end;
} */

.order_choose button{
    margin-left: 40px;
    /* margin-right: 40px; */
}

.order_choose button:nth-of-type(2){
    margin-left: 10px;
}

@media screen and (max-width: 1190px) {
    .order_choose button{
        margin-left: 0;
    }
}

/* --訂做須知-- */
.order_main > p{
    margin-left: 40px;
}

.order_main > p a{
    text-decoration: underline;
}

.order_main > p:last-of-type{
    margin-bottom: 60px;
}

/* --訂做詳細資訊-- */
.order_detail{
    width: 80%;
    margin: 40px 40px 60px;
}

.order_detail li{
    border-bottom: #D9D9D9 2px solid;
    border-style: dashed;
    height: 45px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    transition: all .7s ease-in-out;
}

.order_detail h4{
    line-height: 40px;
    cursor: pointer;
}

.order_detail li a{
    position: absolute;
    top: 20px;
    right: 10px;
    user-select: none;
}

.order_detail p{
    line-height: 30px;
}

@media screen and (max-width: 1190px) {
    .order_main > p{
        margin-left: 0;
    }
    
    .order_detail{
        margin: 5px;
        width: 95%;
    }
}

/* --訂做詳情JS用-- */
ul li.slide{
    height: 140px;
}

@media screen and (max-width: 1190px) {
    ul li.slide{
        height: 200px;
    }
}