@import url('basic_settings.css');

/* product */
header nav ul li:nth-child(4) > a{
    color: #6D6D6D;
    /* text-shadow: 3px 3px 2px #BDE0CE; */
}

/* ---------------------商品頁--------------------- */
/* --上方-- */
.product_main{
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1190px) {
    .product_main{
        margin-bottom: 0;
    }
}

.product_banner{
    width: 100%;
    margin-bottom: 60px;

    position: relative;
}

.product_banner img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto 60px auto 100px;
}

.product_banner h1{
    font-size: 50px;
    position: absolute;
    width: auto;
    letter-spacing: 2px;
    user-select: none;
}

.product_banner h1:nth-of-type(1){
    left: 48%;
    top: 25%;
}

.product_banner h1:nth-of-type(2){
    left: 50%;
    top: 50%;
}


@media screen and (max-width: 1190px) {
    .product_banner{
        margin-bottom: 30px;
    }

    .product_banner img{
        width: 180px;
        height: 180px;
        margin: 20px;
    }

    .product_banner h1{
        font-size: 3.5em;
        position: absolute;
        text-align: right;
        letter-spacing: 1px;
        font-family: 'Kiwi Maru';
        font-weight: normal;
    }

    .product_banner h1:nth-of-type(1){
        right: 20%;
        top: 0;
        font-size: 3em;
    }

    .product_banner h1:nth-of-type(2){
        right: 7%;
        top: 20%;
        font-size: 3em;
    }
}

/* --左側導覽-- */
.product_nav{
    width: 15%;
    height: 400px;
    display: inline-block;
    border: #BDE0CE 3px solid;

    margin-left: 60px;

    position: relative;
}

.product_nav ul{
    font-size: 20px;
    font-weight: bold;
    line-height: 44px;
    padding: 10px 0 0 25px;
}

.product_nav ul li{
    font-weight: normal;
    text-indent: 1em;
}

.product_nav ul li:nth-of-type(n):hover div{
    display: block;
}

.product_nav div{
    display: none;
    background-color:#BDE0CE;
    width: 50px;
    height: 8px;

    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    z-index: -1;
}

@media screen and (max-width: 1190px) {
    .product_nav{
        display: none;
    }
}

/* --商品照列-- */
.product_list{
    width: 78%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.product_list li{
    margin: 0 20px 34px 20px;

    position: relative;
}

.product_list li img{
    width: 250px;
    object-fit: cover;
    user-select: none;
}

.product_list li h4, .product_list li p{
    margin-top: 7px;
}

.product_list li:hover button{
    /* display: block; */
    opacity: 1;
    transition: all .4s;
}

.product_list li div{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 150px;
}

.product_list li button{
    opacity: 0;
    margin: auto 5px;
    user-select: none;
    transition: all .4s;
}

.product_list li button:first-of-type{
    width: 40px;
    background-image: url("../img/product_icon_cart.png");
    background-position: 9px 8px;
    background-repeat: no-repeat;
}

.product_list li button:last-of-type{
    width: 60px;
    transform: translateY(-30%);
}

@media screen and (max-width: 1190px) {
    .product_list{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .product_list li{
        width: 48%;
        margin: 5px 3px 10px;
        border: .5px solid #6D6D6D;
    }

    .product_list li img{
        width: 100%;
        display: block;
    }

    .product_list li div{
        position: static;
        transform: translateX(0);
        height: 35px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        order: 2;
    }
    
    .product_list li button{
        opacity: .9;
        height: 35px;
    }
    
    .product_list li button:first-of-type{
        background-position: 7px 5px;
    }
    
    .product_list li button:last-of-type{}
}

/* ---------------------商品頁1--------------------- */
.product1_main{
    margin-top: 120px;
}

.product1_main > p{
    margin-left: 40px;
    margin-bottom: 10px;
}

.product1_main h1{
    width: auto;
}

.product1_main > p a{
    text-decoration: underline;
}

.product1_top_imgs{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product1_top .product1_top_imgs img{
    width: 160px;
}

.product1_top{
    display: flex;
}

.product1_top > img{
    width: 510px;
    margin-left: 10px;
}

.product1_top_word{
    flex-grow: 1;
    margin-left: 50px;
}

.product1_top_word h1{
    line-height: 44px;
    margin-bottom: 0;
    text-align: left;
}

.product1_top_word h1:first-of-type{
    margin-top: 90px;
}

.product1_top_word_warn{
    height: 24px;
}

.product1_top_word_warn img{
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 5px auto 0 auto;
}

.product1_top_word_warn p{
    display: inline-block;
    line-height: 24px;
    margin-bottom: 20px;
}

.product1_top_word_num{
    margin: 200px 0 50px 0;
}


.product1_top_word button{
    margin-right: 5px;
}

@media screen and (max-width: 1190px) {
    .product1_main{
        margin-top: 30px;
    }

    .product1_top{
        flex-direction: column;
    }

    .product1_top_imgs{
        order: 2;
        flex-direction: row;
        justify-content: start;
        margin-left: 0;
        margin-top: 5px;
    }
    
    .product1_top > img{
        order: 1;
        width: 100%;
        margin-left: 0;
    }

    .product1_top_word{
        order: 3;
        margin-left: 0;
    }

    .product1_top .product1_top_imgs img{
        width: 30%;
        margin-right: 5px;
    }

    .product1_top_word h1:first-of-type{
        margin-top: 20px;
    }

    .product1_top_word h1{
        margin-top: 0px;
    }

    .product1_top_word p{
        margin-bottom: 5px;
    }

    .product1_top_word_num{
        margin: 100px 0 10px 0;
    }

    .product1_main .product1_top ~ h1{
        margin: 30px 0 10px 0;
        /* 同層級會選不到嗎 */
    }

    .product1_main > p{
        margin-left: 0;
    }
}

/* --下方文字-- */
.product1_top ~ h1{
    text-align: left;
    margin: 60px 0 30px 40px;
}

.product1_top ~ p{
    line-height: 22px;
}

/* --推薦商品-- */
.product1_recommend{
    margin-left: 40px;
    width: 90%;
    margin: 0 auto 60px;
}

.product1_recommend li{
    flex-grow: 1;
}

.product1_recommend li img{
    width: 220px;
    /* height: 220px; */
}

.product1_recommend li button:first-of-type{
    width: 40px;
    background-position: 8px 8px;
    left: 60px;
    top: -30px;
}

.product1_recommend li button:last-of-type{
    width: 60px;
    right: 60px;
    top: -30px;
}

@media screen and (max-width: 1190px) {
    .product1_recommend{
        margin: 0 auto 30px;
        width: 100%;
    }
    
    .product1_recommend li img{
        width: 100%;
    }
}